# Go build artifacts
**/bin/

# Compiled binaries
**/*.exe
**/*.dll
**/*.so
**/*.dylib
**/*.test

# Vendor directory (if you're using `go mod vendor`)
**/vendor/

# Dependency cache
**/go.sum

# Local env files
**/.env
**/.env.*

# Editor/OS-specific files
*.log
*.swp
.DS_Store
.idea/
.vscode/
*.bak
*.tmp